:root {
    --bold-weight: 500;
    --font-weight: 350;
}

html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13pt;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

b {
    font-weight: var(--bold-weight);
}

h1, h2 {
    margin-top: 0;
    font-weight: var(--font-weight);
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
}

li {
    margin: 1px 0;
}

#profile-picture {
    margin-left: 1rem;
    float: right;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#nav-bar {
    width: 100%;
    height: auto;
    padding: .70rem 0rem .70rem 0rem;
    border-bottom: 1px solid #EAEAEA;

    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, .95);  /* White with 95% opacity */
    z-index: 1000;
}

.large-nav-bar-container {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    max-width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.page-contents {
    margin-top: 6rem;
}

.publication {
    margin-bottom: 2rem;
}

/* Formatting for links (al-folio theme) */
a {
    color: #b509ac;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link {
    color: #15141A;
}

.nav-link:hover {
    color: #b509ac;
    text-decoration: none;
}

#highlighted-nav-link {
    color: #b509ac;
    font-weight: 450;
}

#nav-bar-name-text {
    color: inherit;
    text-decoration: none;

    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}

/* Hamburger icon and dropdown menu */

#hamburger {
    width: 22px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0.25rem;
}
  
.bar {
    width: 100%;
    height: 2.5px; /* 2px and 3px seem to cause various problems depending on the browser, but 2.5px seems good */
    background-color: #333;
    border-radius: 5px;
    transform: translateZ(0); /* Helps make the bars have consistent height across different browsers */
}

#vertical-nav-links {
    display: none;
}

/* Animations */
#hamburger.open .bar1 {
    transform: rotate(45deg);
    position: relative;
    top: 4.5px;
}

#hamburger.open .bar2 {
    opacity: 0;
}

#hamburger.open .bar3 {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
}

#vertical-nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0px 8px 0px;
    gap: 16px;
    animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 575px) {
    #horizontal-nav-links {
        display: none;
    }
    #hamburger-div {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
    #profile-picture {
        width: 163px;
    }
}

@media (min-width: 576px) {
    #horizontal-nav-links {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }
    .small-nav-bar-container {
        display: none;
    }
    #hamburger-div {
        display: none;
    }
    #profile-picture {
        width: 30%;
    }
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1c1c1d;
    color: #e8e8e8;
    text-align: center;
    font-size: 10pt;
    padding: 7px;
}